@import './base.css';

@font-face {
    font-family: "Estedad";
    src: local("Estedad"), url(../fonts/Estedad.ttf) format("truetype");
}

body {
    font-family: "Estedad",serif !important;
    direction: rtl;
}